.product {

}
  .product__image-container {
    padding-top: 100%;
    position: relative;
    overflow: hidden;
  }
    .product__image {
      height: 100%;
      width: 100%;
      object-fit: cover;

      position: absolute;
      top: 0;
      left: 0;

      .products__grid-item:hover & {
        opacity: .5;
      }
    }

    .product__add-to-cart-container {
      position: absolute;
      top: 0;
      left: 0;
      display: flex;
      justify-content: center;
      align-items: center;

      .product__add-to-cart-button {
        .products__grid-item:not(:hover) & {
          display: none;
        }
      }
    }

  //.product__details {}
  //  .product__title {}
  //  .product__price {}

  .product__ratings {
    width: 100%;
    text-align: center;
  }
    .product__rating-star {
      fill: $color-rating-default;
    }
    .product__rating-star--filled {
      fill: $color-rating-filled;
    }

